<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members-Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="msg-board">
      <div class="messages-wrapper">
        <% if(locals.messages) { %> <% locals.messages.forEach((message) => { %>
        <div class="msg-card">
          <% if(locals.user.user_id === message.user_id) { %>
          <form action="/message/delete" method="post">
            <input
              type="hidden"
              name="msg_id"
              value="<%= message.message_id %>"
            />
            <button type="submit" class="delete-btn">
              <img src="/images/trashcan.png" alt="trash-can" class="trash-icon" >
            </button>
          </form>
          <%}%>
          <p>
            User: <%= locals.user && locals.user.membership_status ?
            message.username : "Anonymous" %>
          </p>
          <p>Message: <%= message.message %></p>
          <% if(client_tz) { %>
            <p>Date: <%= moment(message.created_at).tz(client_tz).format('MM-DD-YYYY HH:mm') %></p> 
          <%} else { %>
          <p>Date: <%= moment(message.created_at).tz('America/Sao_Paulo').format('MM-DD-YYYY HH:mm') %></p>
          <%}%>
        </div>
        <%})%> <%}%>
      </div>
      <% if(locals.user && locals.user.membership_status) { %> <%-
      include('partials/newMessage.ejs')%> <%}%>
    </div>
  </body>
</html>
